* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin: 0;
}
.screen {
    display: flex;
    height: 100vh;
}
.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img {
    width: 60%;
    height: auto;
}
.rightside {
    width: 400px;
    border-left: 1px solid #DDD;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightside label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.rightside input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}
.btn {
    background-color: #57b894;
    border: none;
    color: #FFF;
    padding: 15px !important;
}

.error {
    font-size: 13px;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
}