:root {
    --font-h2: 33px;
    --font-small: 20px;
    --text-color-white: #FFFFFF;
    --btn-bg-degrade: (-75deg, white, #DC143C);
    --text-dark: #000000;
    --font-weight: bold;

    --grid-column-center: 3/10;
}

body {
    background-color: #000;
    font-family: 'Roboto', 'Arial';
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}
.container {
    display: flex;
    justify-content: space-around;
}
#header {
    grid-column: var(--grid-column-center);
    grid-row: 1/2;
}
#sectionum {
    grid-column: var(--grid-column-center);
    grid-row: 2/3;
}
#sectiondois {
    grid-column: var(--grid-column-center);
    grid-row: 3/4;
}
#sectiontres {
    grid-column: var(--grid-column-center);
    grid-row: 4/5;
}
#sectionquatro {
    grid-column: var(--grid-column-center);
    grid-row: 5/6;
}
#sectioncinco {
    grid-column: var(--grid-column-center);
    grid-row: 6/7;
}
#sectionseis {
    grid-column: var(--grid-column-center);
    grid-row: 7/8;
}
#sectionsete {
    grid-column: var(--grid-column-center);
    grid-row: 8/9;
}
#sectionoito {
    grid-column: var(--grid-column-center);
    grid-row: 9/10;
}
#footer {
    grid-column: var(--grid-column-center);
    grid-row: 10/11;
}
.flex_column {
    flex-direction: column;
}



.imglogo {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icons_redesocial {
    display: flex;
    align-items: center;
}
.icons_redesocial a {
    font-size: 30px;
}
.icons_redesocial a i {
    font-size: 30px;
}
.icons_redesocial .btn {
    padding: 15px;
    background-color: #339af0;
    box-shadow: 0px 0px 33px #339af0;
}
#sectionum iframe {
    width: 70%;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 0px 33px #DC143C;
}
h2 {
    font-size: var(--font-h2);
    color: var(--text-color-white);
    text-align: center;
}
#sectionum h2 {
    font-size: var(--font-h2);
    color: var(--text-color-white);
    text-align: center;
    text-shadow: 0px 0px 33px #DC143C;
}
p {
    font-size: var(--font-small);
    color: var(--text-color-white);
    text-align: center;
}
.btn {
    background-color:#DC143C;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
    color: var(--text-dark);
    font-weight: var(--font-weight);
    border-radius: 50px;
    box-shadow: 0px 0px 33px #DC143C;
    color: var(--text-color-white);
}
.text_center {
    text-align: center;
}
#sectiondois h2 {
    font-weight: 400;
    font-size: 41px;
}
#sectiondois h2 strong {
    text-shadow: 0px 0px 33px #DC143C;
}
.headline_sectiontres {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.headline_sectiontres_icons {
    display: flex;
    padding: 20px;
    justify-content: center;
}
.headline_sectiontres_item {
    margin-left: 20px;
}
.headline_sectiontres_icons i {
    color: #c42a08;
    font-size: 80px;
}
#sectiontres,#sectionquatro h4{
    color: var(--text-color-white);
    margin-bottom: 0px;
}
#sectionquatro .headline_sectiontres_item p {
    font-size: 12px;
    max-width: 200px;
    margin-top: 7px;
    line-height: 18px;
}
#sectionquatro h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.btn_sectionquatro {
    display: flex;
    justify-content: center;
}
.headline_sectioncinco {
    display: flex;
    flex-direction: column;
}
#sectioncinco h2 {
    margin-bottom: 5px;
}
#sectioncinco p {
    margin-top: 0px;
}
.depoimentos_sectioncinco {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
#sectioncinco img {
    width: 350px;
}
.depoimento_item {
    margin: 10px;
}
.headline_sectionseis {
    display: flex;
    justify-content: center;
    text-align: center;
}
.headline_sectionseis h3 {
    color: var(--text-color-white);
    font-weight: 100;
    font-size: 31px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.headline_sectionseis h2 {
    margin-bottom: 0px;
    font-size: 39px;
    color: #F8F8FF;
}
#sectionseisP {
    font-size: 13px;
    margin-top: 0px;
    color: #F0F8FF;
    margin-bottom: 50px;
}
.btn_oferta {
    padding: 60px;
}
.headline_sectionseis p {
    font-size: 21px;    
}
.headline_sectionseis h4 {
    font-size: 80px;
    margin: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 33px #DC143C;
}
.banner_oferta {
    border: 1px solid #DC143C;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #DC143C;
}
.headline_sectionseis img {
    width: 60%;
    margin: 0px 20px 20px 20px;
}
.headline_sectionsete {
    display: flex;
    justify-content: center;
}
.selogarantia {
    flex-direction: column;
    text-align: center;
}
.headline_sectionsete img {
    object-fit: cover;
    width: 200px;
}
.headline_sectionsete h2 {
    font-size: 48px;
    margin-bottom: 0px;
}
.headline_sectionsete h3 {
    margin-top: 0px;
    color: var(--text-color-white);
    font-weight: 100;
    font-size: 28px;
    font-style: italic;
}
.headline_sectionoito {
    display: flex;
    justify-content: center;
}
.sectionoito_content {
    display: flex;
    flex: 1;
}
.headline_sectionoito img {
    width: 300px;
    border-radius: 200px;
    box-shadow: 0px 0px 33px #DC143C;
}
.sectionoito_img {
    text-align: center;
    flex: 1;
}
.sectionoito_descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}
.sectionoito_descricao h2 {
    margin-bottom: 0;
    font-size: 39px;
}
.sectionoito_descricao p {
    line-height: 28px;
    font-style: italic;
}
.footer_content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.footer_copy {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 13px;
}
.footer_content h2 {
    font-size: 21px;
}
.footer_content p {
    font-size: 15px;
    color: #EEE;
}
.footer_copy p {
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 12px;
}
.footer_copy a {
    text-decoration: none;
    color: var(--text-color-white);
    margin-left: 3px;
}
#footerdev {
    font-weight: var(--font-weight);
}
.btn_telegram {
    position: absolute;
    right: 0;
    left: 0;
}





@media (max-width: 320px) {
    :root {
        --grid-column-center: 1/1 !important;
    }
    #sectionum iframe {
        width: 80%;
        height: 100%;
    }
    #sectionum h2 {
        font-size: 21px;
        margin-bottom: 40px;
        margin-top: 0xp;
    }
    #sectionum p {
        font-size: 14px;
        margin: 30px 0px 30px 0px;
    }
}

@media (max-width: 466px) {
    :root {
        --grid-column-center: 2/9;
    }
    .headline_sectiontres_icons {
        display: flex;
        flex-direction: column;
    }
    .depoimentos_sectioncinco {
        flex-direction: column;
    }
    #sectioncinco img {
        width: 250px;
    }
    .headline_sectiontres_item {
        margin-left: 0px;
    }
    .headline_sectiontres_item p{
        margin-left: 30px;
    }
    .btn_oferta {
        padding: 50px;
    }
    .headline_sectionseis h2 {
        font-size: 30px;
    }
    .headline_sectionseis h3 {
        font-size: 22px;
    }
    .headline_sectionseis h4 {
        font-size: 40px;
    }
    .headline_sectionseis p {
        font-size: 18px;
    }
    .sectionoito_content {
        flex-direction: column;
    }
}

@media (min-width: 466px) and (max-width: 768px) {
    #sectioncinco img {
        width: 16rem;
    }
    .sectionoito_content {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --grid-column-center: 2/12;
    }
    .sectionoito_content {
        flex-direction: column;
    }
    #sectioncinco img {
        width: 15rem;
    }
    .headline_sectiontres_item {
        margin-left: 0px;
    }
}